Repository verlyn13/liteckyeditingservices: changes, and which lefthook commands are due for each by the changed paths.
All: forbidden-files, lint

forbidden-files:
  run: 'echo "‚ùå Attempting to commit forbidden file: {staged_files}"
  
    exit 1
  
    '

lint:
  run: pnpm check --silent

docs: Update documentation to reflect mise version management
  CONTRIBUTING.md
  README.md
  docs/onboarding.md
Due: none

docs: Complete tracker update with full project understanding
  IMPLEMENTATION-ROADMAP.md
  PROJECT-STATUS.md
Due: none

docs: Add CLAUDE.md for Claude Code context
  CLAUDE.md
Due: none

docs: Update CLAUDE.md with Memory Bank system reference
  AGENTS.md
  CLAUDE.md
Due: none

fix: Remove Vercel adapter and implement critical global.css
  .prettierrc.json
  AGENTS.md
  CLAUDE.md
  README.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  scripts/validate/package-versions.mjs
  src/layouts/BaseLayout.astro
  src/styles/global.css
  src/styles/tailwind.css
Due: lint

fix: Lock in deployment and validation policies
  PROJECT-STATUS.md
  README.md
  policy/code/architecture.rego
  policy/infra/cloudflare.rego
  scripts/validate/package-versions.mjs
  scripts/validate/repo-structure.mjs
  src/pages/index.astro
Due: lint

docs: Add comprehensive Cloudflare deployment documentation
  CLOUDFLARE-DEPLOYMENT-WORKFLOW.md
  CLOUDFLARE-REQUIREMENTS.md
  DOCUMENTATION-MASTER-INDEX.md
  IMPLEMENTATION-ROADMAP.md
  PROJECT-STATUS.md
Due: none

docs: Update all tracking documents with deployment status
  CLOUDFLARE-DEPLOYMENT-WORKFLOW.md
  DOCUMENTATION-MASTER-INDEX.md
  IMPLEMENTATION-ROADMAP.md
Due: none

feat: Implement Turnstile spam protection
  .dev.vars
  ENVIRONMENT.md
  src/pages/api/contact.ts
  src/pages/contact.astro
Due: forbidden-files, lint

docs: Update all tracking and documentation for Turnstile integration
  .dev.vars
  .gitignore
  CLOUDFLARE-DEPLOYMENT-WORKFLOW.md
  IMPLEMENTATION-ROADMAP.md
  scripts/validate/repo-structure.mjs
Due: forbidden-files, lint

feat: Complete SendGrid integration and system improvements
  .env.example
  PROJECT-STATUS.md
  astro.config.mjs
  check-sendgrid-activity.mjs
  check-sendgrid-status.mjs
  docs/MIGRATION-PLAN.md
  docs/SENDGRID-SETUP.md
  docs/infrastructure/BROWSER-AUTOMATION-SETUP.md
  docs/infrastructure/README.md
  docs/infrastructure/SENDGRID-CONFIGURATION.md
  final-email-test.mjs
  package.json
  pnpm-lock.yaml
  public/admin/config.yml
  public/admin/index.html
  scripts/add-sendgrid-dns.sh
  scripts/cf-dns-manage.fish
  scripts/launch-browser.fish
  scripts/path-helper.sh
  scripts/validate/path-structure.mjs
  src/lib/email.ts
  src/pages/api/contact.ts
  tests/admin-smoke.spec.mjs
  tests/sendgrid-test.mjs
  workers/decap-oauth/package.json
  workers/decap-oauth/pnpm-lock.yaml
  workers/decap-oauth/src/index.ts
  workers/decap-oauth/wrangler.toml
Due: lint

feat: Add gopass credential management scripts
  ENVIRONMENT.md
  scripts/generate-dev-vars.sh
  store-dev-vars-in-gopass.sh
Due: none

docs: Add gopass credential management documentation
  scripts/README-GOPASS.md
Due: none

fix: use specific pnpm version in CI to match packageManager
  .github/workflows/quality-gate.yml
  .github/workflows/workers-ci.yml
Due: none

fix: resolve TypeScript errors and build issues
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/lib/email.ts
  src/pages/api/contact.ts
Due: lint

chore(ci): ensure wrangler in devDeps; wrangler sanity; strong SendGrid typings + templates; Pages Function test; tidy typecheck
  functions/api/contact.ts
  functions/tsconfig.json
  package.json
  pnpm-lock.yaml
  src/lib/email.ts
  src/pages/api/contact.ts
  tests/e2e/pages-function-contact.spec.ts
  tsconfig.json
  workers/queue-consumer/src/worker.ts
  workers/queue-consumer/tsconfig.json
Due: lint

fix: run wrangler version check from root directory
  .github/workflows/workers-ci.yml
Due: none

chore: fix CI/CD linting and add comprehensive documentation
  ARCHITECTURE.md
  CONTRIBUTING.md
  DEPLOYMENT.md
  DOCUMENTATION-MASTER-INDEX.md
  PROJECT-STATUS.md
  README.md
  SECRETS.md
  WORKFLOW.md
  biome.json
  docs/playbooks/email-issues.md
  functions/api/contact.ts
  functions/tsconfig.json
  package.json
  scripts/gates/require-docs.mjs
  src/lib/email.ts
  src/scripts/menu-toggle.js
  tests/e2e/pages-function-contact.spec.ts
  tsconfig.json
  workers/queue-consumer/src/worker.ts
  workers/queue-consumer/tsconfig.json
Due: lint

feat: implement Cloudflare Queues for async email processing
  workers/queue-consumer/wrangler.toml
  wrangler.toml
Due: none

docs: update PROJECT-STATUS.md with deployment completion
  PROJECT-STATUS.md
Due: none

docs: update PROJECT-STATUS with October 2 deployment (part 1)
  DEPLOYMENT-SUMMARY-2025-10-02.md
  PROJECT-STATUS.md
Due: none

docs: complete PROJECT-STATUS.md with full deployment details
  PROJECT-STATUS.md
Due: none

docs: update DEPLOYMENT.md with current deployment status
  DEPLOYMENT.md
Due: none

docs: update README.md with production deployment status
  README.md
Due: none

docs: update master index with deployment status
  DOCUMENTATION-MASTER-INDEX.md
Due: none

docs: add post-deployment validation report for October 2, 2025
  POST-DEPLOYMENT-VALIDATION-2025-10-02.md
Due: none

docs: add DNS migration guide for production domain
  DNS-MIGRATION-GUIDE.md
Due: none

docs: add DNS analysis showing current migration status
  DNS-ANALYSIS.md
Due: none

infra: add Windsurf/Cascade configuration and workflows
  .windsurf/README.md
  .windsurf/cascade.yaml
  .windsurf/mcp.json
  README.md
Due: none

docs: consolidate duplicate Deployment Constraints sections in README
  README.md
Due: none

docs: comprehensive cleanup post-DNS migration
  DEPLOYMENT.md
  DOCUMENTATION-CLEANUP-PLAN.md
  DOCUMENTATION-MASTER-INDEX.md
  PROJECT-STATUS.md
  README.md
  _archive/migrations/2025-10-02-deployment/DEPLOYMENT-SUMMARY-2025-10-02.md
  _archive/migrations/2025-10-02-deployment/POST-DEPLOYMENT-VALIDATION-2025-10-02.md
  _archive/migrations/2025-10-04-dns-migration/DNS-ANALYSIS.md
  _archive/migrations/2025-10-04-dns-migration/DNS-MIGRATION-GUIDE.md
  _archive/migrations/README.md
  scripts/check-sendgrid-activity.mjs
  scripts/check-sendgrid-status.mjs
  tests/final-email-test.mjs
Due: lint

docs: consolidate Cloudflare documentation
  CLOUDFLARE.md
  _archive/cloudflare-setup/CLOUDFLARE-DEPLOYMENT-DIRECTIVE.md
  _archive/cloudflare-setup/CLOUDFLARE-DEPLOYMENT-WORKFLOW.md
  _archive/cloudflare-setup/CLOUDFLARE-DOCUMENTATION-SUMMARY.md
  _archive/cloudflare-setup/CLOUDFLARE-REQUIREMENTS.md
  _archive/cloudflare-setup/CLOUDFLARE-WORKERS-SETUP.md
  _archive/cloudflare-setup/README.md
Due: none

docs: add documentation cleanup summary
  DOCUMENTATION-CLEANUP-SUMMARY.md
Due: none

docs: update IMPLEMENTATION-ROADMAP to reflect production status
  IMPLEMENTATION-ROADMAP.md
Due: none

feat(phase-7): Week 1 complete - security, testing, and monitoring
  .github/workflows/e2e-visual.yml
  .windsurf/README.md
  .windsurf/mcp.optional.json
  DOCUMENTATION-MASTER-INDEX.md
  IMPLEMENTATION-ROADMAP.md
  PROJECT-STATUS.md
  cascade.yaml
  docs/PHASE-7-PROGRESS.md
  docs/PHASE-7-SESSION-SUMMARY.md
  docs/SECURITY-HEADERS.md
  docs/infrastructure/ERROR-ALERTING.md
  docs/infrastructure/QUEUE-HEALTH.md
  docs/infrastructure/UPTIME-MONITORING.md
  docs/next-steps-issues.md
  docs/playbooks/security-headers-validation.md
  package.json
  playwright.config.ts
  public/_headers
  tests/e2e/contact.spec.ts
  tests/e2e/security-headers.spec.ts
  tests/e2e/visual.spec.ts
  tests/e2e/visual.spec.ts-snapshots/home-Mobile-Chrome-darwin.png
  tests/e2e/visual.spec.ts-snapshots/home-chromium-darwin.png
  tests/e2e/visual.spec.ts-snapshots/services-Mobile-Chrome-darwin.png
  tests/e2e/visual.spec.ts-snapshots/services-chromium-darwin.png
Due: lint

feat(phase-7): configure Windsurf/Cascade + MCP; add prod E2E + visual regression and CI; update roadmap and docs
  .windsurf/mcp.json
  .windsurf/mcp.optional.json
  docs/PHASE-7-CHECKPOINT.md
  playwright.config.ts
  tests/e2e/security-headers.spec.ts
  tests/e2e/visual.spec.ts
Due: lint

fix(admin): relax frame protections for Decap preview; pin CSP connect-src to OAuth worker; add no-store for admin shell
  public/_headers
Due: none

Path conditions:
  forbidden-files: any of: *.{env,env.local,dev.vars}
  lint: any of: *.{js,mjs,ts,tsx,astro,svelte}
